<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>SEPHETHO SA SETLAMATLA</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
		
    </style>
</head>

<body background="{{url_for('static',filename = 'images/Back.jpg')}}">



    <div>
        <h1 style="text-align:center;font-size:4rem">MOLEMO LE MOSEBETSI OA SETLA-TLAMA SENA</h1>
    </div>

   <br>
   <br>


    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{url_for('static',filename = 'images/D.jpg' )}}" alt="User Image" style="width:500px;height:500px;">
                    

                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 15px; background-color: rgb(15, 15, 15); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <div class="details">
					
					<h4><b>Botanic name: </b> </h4>
                    <h6> 
                       Berkheya setifera DC. (Asteraceae) .</br></br>
                        

                    </h6>
                     </h6>
                    <h4><b>English name:</b></h4>
                    <h6>buffalo-tongue thistle.</br></br></h6>
                    <h4><b>Ts'ebeliso ea sesotho:</b></h4>
                    <h6>Itching skin; rash.</br></br></h6>
                    <h4><b>Mokhoa t'sebeliso:</b></h4>
                    <h6>Roots; leaves.Crush, add water & apply</br></br></h6>
                    <h4><b>Tlhaloso:</b></h4>
                    <h6>Robust in nature, a perennial herb with a woody rootstock and milky sap that grows up to 1.2 m tall. Stems annual, branched in the upper part, thinly covered in cobweb-like hairs. Leaves obovate or obovate-oblong, tapering more towards the base than in the opposite direction, up to 450 mm long, margins entire to shallowly lobed, green on both surfaces; upper surface and margins densely set with straw-coloured, spiny bristles, 2–7 mm long, longest at the apices of the marginal teeth; lower surface hairy like the stems; lamina base clasping the stems. Capitula terminal 30–60 mm in diameter, in branched inflorescences, solitary on the stems, bright yellow; ray-florets 12–20 mm long; disk-florets numerous; floral bracts narrow, 1 mm wide, tips and margins spiny. Flowering in spring to late summer (September to February).</br></br></h6>
                    <h4><b>Bolulo:</b></h4>
                    <h6>Berkheya setifera is found growing in colonies in grassland, on rocky outcrops, up to 2 000 m above sea level, in the summer rainfall region in the Eastern Cape, Free State, Gauteng, KwaZulu-Natal, Limpopo and Mpumalanga Provinces in South Africa, and in Lesotho, Swaziland, Mozambique and Zimbabwe. It is seen emerging among tall grasses, especially in areas that are grazed.</br></br></h6>
                   
                </div>
            </div>
        </div>


    </div>
</body>

</html>